# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://spdwmdsuwshovphqvyyl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9buH1-9mJG6q_khFv8STsQ_MShpV3MC

# Environment
NODE_ENV=development
